.calculadora{
    border: darkslategray solid 2px;
    margin:0 auto;
    width: 280px;
    height: 400px;
    border-radius: 15px;
    background-color:grey;

}
.teclas{
    display: flex;
    border: 10px #000000;
}

#resultado{
    background-color: rgb(240, 228, 228);
    padding: 15px;
    
}

.pantalla {

    padding: 25px 25px 0px 25px;
    border-radius: 10 px #000000;
}

.numeros div{
    
    padding: 5px;
    text-align:center ;
    
}

.boton{
    padding: 10px;
    margin: 2px;
    box-shadow: 0px 0px 12px #aaa;
    width: 55px;
    height: 60px;
    
}

.operaciones div{
    
    display: block;
    padding:5px 15px;
    width: 54px;
    height: 10px;
    
}

